body {
  margin: 0;
  padding: 0;
  
  background: linear-gradient(to right, #f2f2f2, #f2f2f2, #D7B684);
}

header {
  background-color: #D7B684;
  color: #fff;
  padding: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-left {
  flex-grow: 1;
}

.header-title {
  font-size: 26px;
  font-weight: bolder;
}

.header-right {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  margin-right: 20px;
}

input[type="search"] {
  padding: 5px;
  border-radius: 4px;
  border: none;
}

button[type="submit"] {
  padding: 5px 10px;
  background-color:#333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
  
}

nav ul li a:hover {
  background-color: #555;
  display: inline-block;
  
}

/* Responsiveness */
@media (max-width: 768px) {
  .header-container {
    flex-wrap: wrap;
  }

  .header-left {
    margin-bottom: 10px;
  }

  .header-right {
    margin-left: auto;
  }

  form {
    margin-right: 10px;
  }
}

/* halaman iklan produk */

.utama {
  margin: 50px;

}

.container-iklan {
  max-width: 1200px;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.slide {
  flex: 0 0 auto;
  width: 30%;
  margin-right: 2rem;
  scroll-snap-align: start;
}

.slide:last-of-type {
  margin-right: 0;
}

.slide img {
  width: 100%;
  /* height: auto; */
}

@media screen and (max-width: 768px) {
  .slide {
    width: 90%;
    margin-right: 1rem;
  }
  
  .slide:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .slide {
    width: 45%;
    margin-right: 2rem;
  }
  
  .slide:nth-of-type(2n) {
    margin-right: 0;
  }
}


/* halaman kategori */

.container-kategori {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  margin-top: 75px;
}

.box {
  text-align: center;
  cursor: pointer;
  width: 80px;
  justify-content: center;
}

.box img {
  width: 100%;
  
}

.box h3 {
  margin: 10px 0;
}

.box p {
  color: #888;
}

.box a {
  text-decoration: none;
  color: inherit;
}

.box a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* footer */

footer {
  background-color: #333;
  padding: 40px 0;
  
}

.container-footer {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-info,
.footer-social,
.footer-links {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.footer-info h3,
.footer-social h3,
.footer-links h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.footer-info p {
  color: #fff;
}

.footer-social ul,
.footer-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-social ul li,
.footer-links ul li {
  margin-right: 10px;
}

.footer-social ul li:last-child,
.footer-links ul li:last-child {
  margin-right: 0;
}

.footer-social ul li a,
.footer-links ul li a {
  color: #fff;
  font-size: 14px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  background-color: #eaeaea;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  color: #333;
  font-size: 14px;
}

.footer-bottom p a {
  color: #333;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer-info,
  .footer-social,
  .footer-links {
    width: 30%;
    text-align: left;
  }
}



