body {
    margin: 0;
    padding: 0;
    
    background: linear-gradient(to right, #f2f2f2, #f2f2f2, #D7B684);
  }
  
  header {
    background-color: #D7B684;
    color: #fff;
    padding: 10px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .header-left {
    flex-grow: 1;
  }
  
  .header-title {
    font-size: 26px;
    font-weight: bolder;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  form {
    display: flex;
    margin-right: 20px;
  }
  
  input[type="search"] {
    padding: 5px;
    border-radius: 4px;
    border: none;
  }
  
  button[type="submit"] {
    padding: 5px 10px;
    background-color:#333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s;
    
  }
  
  nav ul li a:hover {
    background-color: #555;
    display: inline-block;
    
    }
  
    .user-profile {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
      
      .profile-picture img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
      
      .profile-details {
        margin-left: 20px;
      }
      
      .profile-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .profile-email,
      .profile-location {
        font-size: 16px;
        margin-bottom: 5px;
      }
      
      .profile-bio {
        font-size: 14px;
        margin-bottom: 10px;
      }
      